model_building/datasets/
model_building/model_train/yolo26n.pt
model_building/model_train/yolo26s.pt
model_building/model_train/runs/
model_building/model_venv/

jetson_mission_codes/venv
ground_station/venv